.linkslist {
    padding: 0px;
    text-align: center;
    margin-top: 12%;
}
.linkslist li {
    display: flex;
}
.linkslist li a {
    display: block;
    width: auto;
    text-decoration: none;
    color: black;
    background: #9be248;
    height: 34px;
    line-height: 2;
    border-radius: 3px;
    text-transform: uppercase;
    padding: 7px;
    margin-right: 42px;
    margin: auto;
    margin-bottom: 12px;
}
.linkslist li a:hover {
    border: 1px solid black;
    padding: 6px;
}